<div class="card mb-3" *ngIf="post$ | async as post">
  <img class="card-img-top" [src]="post.img" alt="{{ post.title }}" />
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.content }}</p>
    <p class="card-text">
      <small class="text-muted">Written by {{ post.author }}</small>
      <br />
      <small class="text-muted">Date: {{ post.created | date }}</small>
      <br />
      <small class="text-muted">Views {{ post.views }}</small>
      <br />
      <small class="text-muted">Likes {{ post.likes }}</small>
    </p>
    <div *ngIf="comments$ | async as comments">
      <a class="mx-2" [routerLink]="['/post/', post.id, 'comments']"
        >Comments ( {{ comments.length }} )</a
      >
      <button (click)="addLike(post)">Like</button>
      <button (click)="removeLike(post)">Hate</button>
    </div>
  </div>
  <div>
    <button
      type="button"
      class="btn btn-danger float-right"
      (click)="deletePost(post.id)"
    >
      Delete
    </button>
  </div>
  <app-comment-form [post]="post"></app-comment-form>
</div>
